<form class="c-form c-subscribe-form u-theme--dark u-theme--background-color--darker u-spacing u-padding" action="index.html" method="post">
  <h2 class="u-font--primary--l u-color--white"><strong>Signup for this event</strong></h2>
  <div class="u-spacing--quarter c-form-group">
    <input placeholder="First Name" type="text" name="first_name" value="">
    <label class="u-font--secondary--s" for="">First Name</label>
  </div>
  <div class="u-spacing--quarter c-form-group">
    <input placeholder="Last Name" type="text" name="last_name" value="">
    <label class="u-font--secondary--s" for="">Last Name</label>
  </div>
  <div class="u-spacing--quarter c-form-group">
    <input placeholder="Email Address" type="email" name="email" value="">
    <label class="u-font--secondary--s" for="">Email Address</label>
  </div>
  <button class="o-button o-button--outline" type="submit">Submit</button>
  <button class="o-button o-button--simple" type="submit"><span class="u-icon u-icon--xs u-theme--path-fill--lighter">{% include '@atoms/icons/icon-close.twig' %}</span>Cancel</button>
</form>
