{% if button_default %}
  <a href="" class="o-button {{ button_default.class }}">{% if button_default.icon %}<span class="u-icon {{ button_default.icon_size|default('u-icon--xs') }} u-path-fill--white {% if button_default.align_right %}u-icon--align--right{% endif %}">{% include '@atoms/icons/' ~ button_default.icon ~ '.twig' %}</span>{% endif %}{{ button_default.text }}</a>
{% endif %}
