<section class="l-grid l-grid--7-col u-shift--left--1-col--at-xxlarge l-grid-wrap--6-of-7 u-spacing--double--until-large">
  <div class="c-article l-grid-item l-grid-item--l--4-col l-grid-item--xl--3-col">
    <article class="text c-article__body u-spacing--double has-dropcap">
      <p><strong>Lorem ipsum dolor sit amet,</strong> consectetur adipiscing elit. <a href="">Donec malesuada</a>, est ut viverra euismod, dui dolor gravida massa, sed aliquam ex nisl ut metus. Mauris at ante laoreet, gravida odio gravida, fermentum lectus. Fusce ac sollicitudin purus. Morbi et diam nunc. Praesent fringilla magna nisl, et volutpat nisi tincidunt aliquet. In laoreet ligula vel porttitor condimentum. In mattis ultricies placerat. Morbi interdum hendrerit tempus. Donec consequat elit vitae justo ornare, eget elementum quam consequat. Quisque auctor ex et congue finibus. Proin sed nisl ac velit aliquam euismod non tincidunt lectus. In enim ex, commodo feugiat porttitor sed, eleifend vitae ipsum. Suspendisse lorem nisl, suscipit at tellus quis, porttitor convallis sem.</p>

      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit porta hendrerit, congue leo nisl massa felis pharetra nibh parturient tortor lacus, facilisi elementum tristique molestie blandit mi ante dui. Phasellus mi commodo scelerisque proin class erat per integer, diam tortor dictum nisl curabitur semper. Fusce vitae faucibus per nunc duis nostra himenaeos viverra placerat libero ultrices ut parturient integer, gravida penatibus volutpat pretium natoque class eget hendrerit sollicitudin eros turpis quisque non. Viverra ipsum gravida arcu lobortis laoreet neque sociosqu suscipit, ridiculus aptent sagittis nascetur volutpat eu donec conubia, magnis tempor hendrerit scelerisque lectus libero semper. Semper mauris non congue hac potenti est proin mi convallis magnis, penatibus lorem suspendisse posuere pharetra mattis phasellus duis donec ante, fringilla cras luctus maecenas consequat tristique dignissim ullamcorper habitasse. Felis vulputate nisi volutpat mi lobortis augue sodales, sem cursus semper aliquam nibh sapien dictum mus, donec sollicitudin convallis venenatis duis scelerisque. Quisque est viverra turpis imperdiet augue magnis mauris, natoque ligula semper id facilisis sit, urna nunc feugiat nascetur vulputate porta. Enim urna litora id dignissim dolor aptent non imperdiet, in interdum condimentum lacus magnis sociis erat ad, arcu cum gravida vestibulum tempor venenatis odio.</p>
<div class="wp-block-alps-gutenberg-blocks-highlighted-paragraph"><p class="o-highlight u-padding u-background-color--gray--light u-text-align--left can-be--dark-dark"><strong>A Nice Little Sidebar</strong><br>Run ornare ac hendrerit neque volutpat aliquam lectus pulvinar interdum, nostra diam congue aliquet fusce pellentesque adipiscing purus auctor suspendisse, sollicitudin parturient malesuada libero condimentum primis nunc dis. Massa dui ullamcorper feugiat interdum eros praesent justo habitasse, lorem porta mollis condimentum ut lacus torquent primis, diam suscipit convallis molestie sem tempor dapibus.</p></div>

      <p>Lectus sagittis nec sapien dictumst nisi vel imperdiet dui dis libero, faucibus litora cras aliquet rhoncus placerat mattis bibendum in, etiam volutpat sem semper facilisis est habitant primis nisl. Dictumst luctus vestibulum fermentum commodo sodales dapibus litora nec parturient natoque venenatis, taciti eros congue ridiculus in nisi duis facilisis sapien sagittis, lobortis habitasse molestie amet erat ante nostra sociis mauris himenaeos. Leo aliquet magnis tortor pellentesque non hendrerit congue imperdiet massa ultricies, himenaeos molestie nibh dis bibendum fringilla et ac vestibulum, ante nisl curabitur ligula cum tempor taciti faucibus sodales. Purus sagittis vel ultricies interdum nibh magnis faucibus ante, augue venenatis duis non est mus felis dis, quam orci amet cum eu lorem semper. Vel congue orci eget nullam ad dolor ut dui donec justo, habitasse mattis pharetra nibh ac nec vestibulum integer molestie, leo posuere senectus morbi commodo sodales ultrices mauris a. Blandit semper risus tristique nostra pellentesque condimentum aliquet mollis maecenas cursus, leo praesent natoque pretium libero litora massa diam posuere velit, vehicula mi mus egestas vel est hac ultricies quisque.</p>

      <p>Risus eros felis platea congue nam primis elementum gravida taciti, sociosqu sed conubia vehicula magnis porttitor sagittis ultricies non, viverra lacinia convallis enim curabitur dictum cursus facilisi. Lacinia suscipit feugiat dolor hendrerit hac habitasse lectus euismod, condimentum montes sem aliquet nascetur sociosqu placerat lacus, curabitur per suspendisse consectetur sodales commodo vel. Lobortis neque pretium suspendisse consectetur laoreet magnis fusce venenatis, ridiculus elit senectus ornare lacus phasellus dictum, duis lorem ad malesuada eros purus mus. Taciti augue aliquam fermentum pulvinar conubia facilisi pretium nulla risus phasellus, malesuada congue senectus nec netus blandit luctus praesent parturient. Varius felis hendrerit potenti platea porttitor dictumst erat senectus facilisis, lorem nam velit neque eget accumsan sociis ad sed porta, nec eros leo volutpat feugiat amet et placerat. Ut tempor iaculis aptent est, porttitor conubia praesent. Mollis platea varius sodales ipsum vivamus volutpat aliquam, tristique aptent primis lectus lacinia quam dictum proin, non sollicitudin gravida quis ornare sapien. Molestie luctus potenti consectetur mollis est sit habitasse convallis, suspendisse hac commodo leo nec maecenas aliquet. Metus netus varius cum ac interdum consequat nisl lobortis, justo auctor libero ultricies aptent vel magnis.
      {% if blockquote %}
        {% include '@atoms/text/blockquote.twig' %}
      {% endif %}
      <p><a href="">Vestibulum ipsum orci, egestas eu erat non, posuere maximus quam.</a> Quisque tincidunt turpis id accumsan hendrerit. Cras eleifend, arcu sit amet faucibus blandit, dolor urna euismod sem, non molestie nulla nulla porta nibh. Integer commodo arcu vitae nisl iaculis, non hendrerit arcu sodales. Vivamus sagittis quam ut elit posuere ultrices. In blandit erat orci, vitae posuere enim vehicula quis. Nullam posuere mauris odio, eu facilisis lorem iaculis ut. Aenean tortor turpis, sollicitudin ut est eget, mattis feugiat arcu. Etiam est magna, aliquet ut blandit sit amet, malesuada a lacus. Nam scelerisque arcu non sem auctor molestie. Vestibulum sit amet congue ex.</p>
    </article>
  </div>
  <div class="c-sidebar l-grid-item l-grid-item--l--2-col l-grid-item--xl--2-col u-padding--zero--sides">
    {% if related_posts %}
      {% include '@organisms/asides/related-posts.twig' %}
    {% endif %}
  </div>
</section>
{% if figure_breakout %}
  <section class="l-grid l-grid--7-col l-grid-wrap l-grid-wrap--6-of-7">
    <div class="u-width--100p u-padding--zero--sides">
      {% include '@molecules/media/breakout-image.twig' %}
    </div>
  </section>
{% endif %}
<section class="l-grid l-grid--7-col u-shift--left--1-col--at-xxlarge l-grid-wrap l-grid-wrap--6-of-7">
  <article class="c-article l-grid-item l-grid-item--l--4-col l-grid-item--xl--3-col">
    <div class="text c-article__body u-spacing--double">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, est ut viverra euismod, dui dolor gravida massa, sed aliquam ex nisl ut metus. Mauris at ante laoreet, gravida odio gravida, fermentum lectus. Fusce ac sollicitudin purus. Morbi et diam nunc. Praesent fringilla magna nisl, et volutpat nisi tincidunt aliquet. In laoreet ligula vel porttitor condimentum. In mattis ultricies placerat. Morbi interdum hendrerit tempus. Donec consequat elit vitae justo ornare, eget elementum quam consequat. Quisque auctor ex et congue finibus. Proin sed nisl ac velit aliquam euismod non tincidunt lectus. In enim ex, commodo feugiat porttitor sed, eleifend vitae ipsum. Suspendisse lorem nisl, suscipit at tellus quis, porttitor convallis sem.</p>
      {% if figure_with_caption %}
        <div class="u-shift--right--1-col--at-medium">
          {% include '@molecules/media/figure-with-caption.twig' %}
        </div>
      {% endif %}
      <p>Vestibulum ipsum orci, egestas eu erat non, posuere maximus quam. Quisque tincidunt turpis id accumsan hendrerit. Cras eleifend, arcu sit amet faucibus blandit, dolor urna euismod sem, non molestie nulla nulla porta nibh. Integer commodo arcu vitae nisl iaculis, non hendrerit arcu sodales. Vivamus sagittis quam ut elit posuere ultrices. In blandit erat orci, vitae posuere enim vehicula quis. Nullam posuere mauris odio, eu facilisis lorem iaculis ut. Aenean tortor turpis, sollicitudin ut est eget, mattis feugiat arcu. Etiam est magna, aliquet ut blandit sit amet, malesuada a lacus. Nam scelerisque arcu non sem auctor molestie. Vestibulum sit amet congue ex.</p>
    </div>
  </article>
</section>
{% if figure_split %}
  <section class="l-grid l-grid--7-col l-grid-wrap l-grid-wrap--6-of-7">
    <div class="l-grid-item--m--3-col u-padding--zero--left">
      {% include '@molecules/media/figure-with-caption.twig' %}
    </div>
    <div class="l-grid-item--m--3-col u-padding--zero--left">
      {% include '@molecules/media/figure-with-caption.twig' %}
    </div>
  </section>
{% endif %}
<section class="l-grid l-grid--7-col u-shift--left--1-col--at-xxlarge l-grid-wrap l-grid-wrap--6-of-7">
  <article class="c-article l-grid-item l-grid-item--l--4-col l-grid-item--xl--3-col">
    <div class="text c-article__body u-spacing--double">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, est ut viverra euismod, dui dolor gravida massa, sed aliquam ex nisl ut metus. Mauris at ante laoreet, gravida odio gravida, fermentum lectus. Fusce ac sollicitudin purus. Morbi et diam nunc. Praesent fringilla magna nisl, et volutpat nisi tincidunt aliquet. In laoreet ligula vel porttitor condimentum. In mattis ultricies placerat. Morbi interdum hendrerit tempus. Donec consequat elit vitae justo ornare, eget elementum quam consequat. Quisque auctor ex et congue finibus. Proin sed nisl ac velit aliquam euismod non tincidunt lectus. In enim ex, commodo feugiat porttitor sed, eleifend vitae ipsum. Suspendisse lorem nisl, suscipit at tellus quis, porttitor convallis sem.</p>
      {% if highlight %}
        {% include '@molecules/text/highlight.twig' %}
      {% endif %}
      <p>Vestibulum ipsum orci, egestas eu erat non, posuere maximus quam. Quisque tincidunt turpis id accumsan hendrerit. Cras eleifend, arcu sit amet faucibus blandit, dolor urna euismod sem, non molestie nulla nulla porta nibh. Integer commodo arcu vitae nisl iaculis, non hendrerit arcu sodales. Vivamus sagittis quam ut elit posuere ultrices. In blandit erat orci, vitae posuere enim vehicula quis. Nullam posuere mauris odio, eu facilisis lorem iaculis ut. Aenean tortor turpis, sollicitudin ut est eget, mattis feugiat arcu. Etiam est magna, aliquet ut blandit sit amet, malesuada a lacus. Nam scelerisque arcu non sem auctor molestie. Vestibulum sit amet congue ex.</p>
      {% if gallery_block %}
        {% include '@molecules/blocks/gallery-block.twig' %}
      {% endif %}
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, est ut viverra euismod, dui dolor gravida massa, sed aliquam ex nisl ut metus. Mauris at ante laoreet, gravida odio gravida, fermentum lectus. Fusce ac sollicitudin purus. Morbi et diam nunc. Praesent fringilla magna nisl, et volutpat nisi tincidunt aliquet. In laoreet ligula vel porttitor condimentum. In mattis ultricies placerat. Morbi interdum hendrerit tempus. Donec consequat elit vitae justo ornare, eget elementum quam consequat. Quisque auctor ex et congue finibus. Proin sed nisl ac velit aliquam euismod non tincidunt lectus. In enim ex, commodo feugiat porttitor sed, eleifend vitae ipsum. Suspendisse lorem nisl, suscipit at tellus quis, porttitor convallis sem.</p>
      {% if story_block %}
        {% include '@molecules/blocks/content-block-expand.twig' %}
      {% endif %}
      <div>
        {% include '@organisms/sections/article-footer.twig' %}

      </div>
    </div>
  </article>

  {% include '@organisms/sections/comments.twig' %}
</section>
